<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxai.mapper.PostFavourMapper">

    <resultMap id="BaseResultMap" type="com.boxai.model.domain.PostFavour">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="resultId" column="resultId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,resultId,userId,
        createTime,updateTime
    </sql>
    <select id="listFavourPostByPage"
            resultType="com.boxai.model.domain.Post">
        select p.*
        from post p
                 join (select resultId from post_favour where userId = #{favourUserId}) pf
                      on p.resultId = pf.resultId ${ew.customSqlSegment}
    </select>
</mapper>
