<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxai.mapper.PostFavoritesMapper">

    <resultMap id="BaseResultMap" type="com.boxai.model.entity.PostFavorites">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="post_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,post_id,user_id,
        create_time,update_time
    </sql>
<!--    通过post_id和user_id查询收藏数据-->
    <select id="selectByPostIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post_favorites
        where post_id = #{postId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>
