<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxai.mapper.ResultMapper">

    <resultMap id="BaseResultMap" type="com.boxai.model.domain.Result">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goal" column="goal" jdbcType="VARCHAR"/>
            <result property="genName" column="genName" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="usedToken" column="usedToken" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="codeComment" column="codeComment" jdbcType="VARCHAR"/>
            <result property="codeProfile" column="codeProfile" jdbcType="VARCHAR"/>
            <result property="codeEntity" column="codeEntity" jdbcType="VARCHAR"/>
            <result property="codeAPI" column="codeAPI" jdbcType="VARCHAR"/>
            <result property="codeRun" column="codeRun" jdbcType="VARCHAR"/>
            <result property="codeSuggestion" column="codeSuggestion" jdbcType="VARCHAR"/>
            <result property="codeNorm" column="codeNorm" jdbcType="VARCHAR"/>
            <result property="codeNormStr" column="codeNormStr" jdbcType="VARCHAR"/>
            <result property="codeTechnology" column="codeTechnology" jdbcType="VARCHAR"/>
            <result property="codeCataloguePath" column="codeCataloguePath" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goal,genName,
        createTime,updateTime,isDelete,
        usedToken,userId,codeComment,
        codeProfile,codeEntity,codeAPI,
        codeRun,codeSuggestion,codeNorm,
        codeNormStr,codeTechnology,codeCataloguePath
    </sql>
</mapper>
