<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxai.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.boxai.model.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
            <result property="availableBalance" column="availableBalance" jdbcType="DECIMAL"/>
            <result property="voucherBalance" column="voucherBalance" jdbcType="DECIMAL"/>
            <result property="cashBalance" column="cashBalance" jdbcType="DECIMAL"/>
            <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,
        userName,userAvatar,userProfile,
        availableBalance,voucherBalance,cashBalance,
        userRole,createTime,updateTime,
        isDelete
    </sql>

<!--    更新密码-->
    <update id="updateUserPassword" parameterType="com.boxai.model.domain.User">
        update user
        set userPassword = #{password}
        where id = #{id}
    </update>

<!--    更新用户信息包含，用户名，用户简介-->

    <update id="updateUserInfo"  parameterType="com.boxai.model.domain.User">
        update user
        set userName = #{username},userProfile = #{userProfile}
        where id = #{id}
    </update>
<!--    更新账号信息-->
    <update id="updateUserAccount"  parameterType="com.boxai.model.domain.User">
        update user
        set userAccount = #{userAccount}
        where id = #{id}
    </update>
</mapper>
